.container {
  background-color: white;
  min-height: 400px;
}
.todo {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* border-bottom: 1px solid lightgray; */
}
.todo p {
  margin-left: 20px;
}
.todo input {
  margin-left: 20px;
}
.filterPart {
  display: flex;
  background-color: lightgray;
  justify-content: space-between;
  width: 100%;
}
.filterPart p {
  line-height: 1.5;
  font-size: smaller;
  margin-bottom: 0;
}
.filterPart2 {
  display: flex;
  justify-content: space-between;
}
