<div style="padding-top: 4px;">
  <div class="filterPart">
    <div>
      <p-tabMenu [model]="categories" [activeItem]="categories[0]" #menuItems>
      </p-tabMenu>
    </div>
    <div class="filterPart2">
      <p style="margin-right: 5px;">show completed</p>
      <p-checkbox [(ngModel)]="completedFilter" [binary]="true">
      </p-checkbox>
    </div>
  </div>
  <div class="container">
    <div [ngClass]="{'todo': (!completedFilter && (menuItems.activeItem.labe=== item.category || menuItems.activeItem.label === 'All'))
    || ((completedFilter && !item.completed) &&(menuItems.activeItem.label=== item.category|| menuItems.activeItem.label === 'All'))
   }" *ngFor="let item of listObs$ | async as data; let i = index" #dataDiv>

      <ng-container
        *ngIf="(!completedFilter && (menuItems.activeItem.labe=== item.category || menuItems.activeItem.label === 'All'))
    || ((completedFilter && !item.completed) &&(menuItems.activeItem.label=== item.category|| menuItems.activeItem.label === 'All'))">
        <div style="display: flex; ">
          <p-checkbox [(ngModel)]="item.completed" inputId="i" (onChange)="markAsCompleted(data, i, item.completed)"
            [binary]="true" #c>
          </p-checkbox>
          <p (click)="makeItEditable(i)" *ngIf="!editing[i];else other_content" [ngStyle]="{
                          'text-decoration': item.completed ? 'line-through' : 'none'
                        }">
            {{ item.title }}
          </p>

          <ng-template #other_content>

            <input placeholder="label" [value]="item.title" (keydown.enter)="editTodo($event, item, i)"
              (change)="editTodo($event, item, i)">

          </ng-template>

        </div>
        <div style="margin-right: 10px;">
          <button (click)="onRemoveItem(i, item)" pButton type="button"
            class="p-button-danger p-button-text p-button-rounded" icon="pi pi-times" iconPos="right"></button>
        </div>
      </ng-container>
      <ng-template #notCompleted>
        <ng-container *ngIf="!item.completed; else element">

        </ng-container>
      </ng-template>

      <ng-template #element>





      </ng-template>
    </div>
  </div>
</div>