.container {
    background-color: #fff;
    width: 100%;
    
    
}
.container h2 {
    background-color:lightgray;
    font-weight: bold;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 5px;
    
}