/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  background-color: lightgray;
  justify-content: center;
}
.p-inputtext {
  border-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  font-weight: bold;
  width: 55%;
  height: 30px;
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

#addButton {
  background-color: rgb(83, 194, 83);
  color: black;
  font-weight: bold;
  border: none;
  padding: 3px;
  width: 15%;
}

.p-dropdown {
  background-color: rgba(223, 217, 217, 0.705);
}
.p-dropdown .p-inputtext {
  font-weight: 400;
  padding: 3px;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: black;
}

.p-tabmenu .p-tabmenu-nav {
  background-color: lightgray;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: lightgray;
  border: none;
  color: black;
  font-weight: bold;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: white;
  border: none;
  color: black;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link:focus {
  box-shadow: none;
}
.p-checkbox .p-checkbox-box {
  height: 18px;
  width: 18px;
  border-radius: 5px;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: lightgray;
  background: white;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: rgb(53, 194, 53);
}
.p-checkbox-icon {
  font-size: 18px;
  font-weight: bold;
}
.p-focus,
.p-checkbox-focused {
  box-shadow: none;
}
.p-button-icon.pi-times {
  font-weight: bolder !important;
  text-shadow: 2px 0 red;
}
